# {{ ansible_managed }}

Types: deb
URIs: https://deb.debian.org/debian
Suites: {{ debian_codename }} {{ debian_codename }}-updates {{ debian_codename}}-backports experimental
Components: main contrib non-free non-free-firmware
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg

Types: deb
URIs: https://security.debian.org/debian-security
Suites: {{ debian_codename }}-security
Components: main contrib non-free non-free-firmware
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg

