[global]
    log file = /var/log/samba/%m
    log level = 1
    server role = standalone server
    worksgroup = PURGATORY

{% for share in samba.shares %}
[{{ share.name }}]
    path = {{ share.path }}
{% for k, v in share.params.items() %}
    {{ k }} = {{ v }}
{% endfor %}
{% endfor %}

