[global]
    netbios name = {{ netbios_name | upper }}
    workgroup = PURGATORY
    server role = standalone server
    log file = /var/log/samba/%m
    log level = 1

{% for share in samba.shares %}
[{{ share.name }}]
    path = {{ share.path }}
{% for k, v in share.params.items() %}
    {{ k }} = {{ v }}
{% endfor %}
{% endfor %}

