node-name: {{ k3s_node_name }}
disable:
  - traefik
  - servicelb

token-file: /etc/rancher/k3s/token
{% if k3s_primary_host == inventory_hostname %}
cluster-init: true
{% else %}
server: https://{{ k3s_primary_host }}:6443
{% endif %}

write-kubeconfig-mode: '0644'