[user]
	name = Brandon Bennett
	email = brandon@brbe.me
[credential]
	helper = {{ git_credential_helper }}
[init]
	defaultBranch = main
[alias]
	amend = commit --amend --no-edit -a
	addremove = !git add . && git add -u
	co = checkout
	s = status
	feature = git checkout -b
	f = git checkout -b
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
[rebase]
	updateRefs = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f